In [37]:
import pandas as pd
import numpy as np
import requests 
import os
import csv
import json as jsn
from pprint import pprint
import scipy.stats as st
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [38]:
# File to Load, read, store
narrowed_data_to_load = "Resources/narrowed.csv"
narrowed_data = pd.read_csv(narrowed_data_to_load)
merged_data_to_load = "Resources/merged.csv"
merged_data = pd.read_csv(merged_data_to_load)
foodenviro_data_to_load = "Resources/foodenviro.csv"
foodenviro_data = pd.read_csv(foodenviro_data_to_load)

In [40]:
#combine the counties together
combined_grouped_counties=narrowed_data.groupby('County')
combined_grouped_counties.head()

,County,"Hospitalization_Census_Tract_Rate_per_100,000","Hospitlization_State_Rate_per_100,000",Adult_Pop_Over_18,Census_Tract_Estimate,Population_Total,Pop_Density/Sq_Mile,Percent_Poverty,Median_Household_Income,Poverty_Mean_Household_Income,...,LILATracts_1And20,LILATracts_Vehicle,Urban,Rural,Low_Income_Tract,"Hospitalization_Census_Tract_Rate_per_100,000",lapop1,lakids1,laseniors1,Population_Total
0,FREMONT,716.97,1267.78,2994,10,3471,3.4,9.7,49483,61677,...,0,0,0,1,1,716.97,3462.000015,460.0000009,849.000003,3471
1,GARFIELD,602.99,1267.78,2800,5,3656,6.4,14.5,59154,82512,...,0,0,0,1,0,602.99,3635.857633,980.6032991,268.5009603,3656
2,LARIMER,0,1267.78,97,1.6,97,0.4,38.1,43882,41385,...,0,0,0,1,0,0,77.40769321,17.69968278,5.993884508,97
3,YUMA,1390.98,1267.78,4381,8,5467,5.3,13.4,44315,53229,...,0,0,0,1,1,1390.98,2042.226141,506.6588075,337.9593992,5467
4,LARIMER,529.77,1267.78,1190,8,1310,3.3,10.2,61111,83656,...,1,1,0,1,1,529.77,1216.999988,125.9999994,351.9999964,1310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2034,CLEAR CREEK,735.76,1267.78,4111,9.3,4935,26.4,2.6,80625,107343,...,0,0,0,1,0,735.76,4813.265064,859.263939,564.5505801,4935
2042,KIOWA,1079.57,1267.78,990,5.3,1368,0.8,10.6,39250,55401,...,0,0,0,1,0,1079.57,1398.000005,314.0000007,300.0000015,1368
2311,HUERFANO,783.93,1267.78,2882,9.2,3302,2.1,10.5,44853,62760,...,0,0,0,1,0,783.93,3437.999991,500.000002,944.9999975,3302
2312,HUERFANO,1688.08,1267.78,2580,15.3,3196,76.2,19.2,27279,39963,...,0,1,1,0,1,1688.08,379.0003203,99.57469281,61.72142033,3196
2458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#summary low access pop by County
mean=combined_data_df[['COUNTY_NAME', 'lapop1']].groupby('COUNTY_NAME').mean()['lapop1']
median=combined_data_df[['COUNTY_NAME', 'lapop1']].groupby('COUNTY_NAME').median()['lapop1']
std=combined_data_df[['COUNTY_NAME', 'lapop1']].groupby('COUNTY_NAME').std()['lapop1']
sem=combined_data_df[['COUNTY_NAME', 'lapop1']].groupby('COUNTY_NAME').sem()['lapop1']

statistics_dict={
        'Mean' : mean,
        'Median' : median,
        'Standard_deviation': std,
        'Standard_Error_Mean' : sem
}

summary_statistics=pd.DataFrame(statistics_dict)
summary_statistics

percent_poverty_summary_df=combined_data_df.groupby('COUNTY_NAME').agg({'lapop1':['mean', 'median', 'std', 'sem']})

DataError: No numeric types to aggregate

In [52]:
combined_data_df= merged_data[['FIPS','COUNTY_NAME','DIABETES_ADJRATE','lapop1',
                                     'lakids1','laseniors1','Population_Total', 
                               'Diabetes_Census_Tract_Estimate']]
combined_data_df.dropna(inplace=True)
print(combined_data_df.dtypes)
combined_data_df.head()

combined_summary = pd.DataFrame({'COUNTY_NAME':'COUNTY_NAME','DIABETES_ADJRATE': 'DIABETES_ADJRATE',
                                 'lapop1': 'lapop1','lakids1': 'lakids1','laseniors1':'laseniors1',
                                 'Population_Total':'Population_Total', 
                                 'Diabetes_Census_Tract_Estimate':'Diabetes_Census_Tract_Estimate'
                                })
print(combined_summary.dtypes)

FIPS                              object
COUNTY_NAME                       object
DIABETES_ADJRATE                  object
lapop1                            object
lakids1                           object
laseniors1                        object
Population_Total                  object
Diabetes_Census_Tract_Estimate    object
dtype: object

C:\Users\avila\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ValueError: If using all scalar values, you must pass an index

In [53]:
# x_values = combined_data_df[float(['lapop1'])]
# y_values = narrowed_data['Census_Tract_Estimate']
# (slope, intercept, rvalue, pvalue, stderr) = st.linregress(x_values, y_values)
# regress_values = x_values * slope + intercept
# line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
# plt.scatter(x_values,y_values)
# plt.plot(x_values,regress_values,"r-")
# plt.annotate(line_eq,(6,10),fontsize=15,color="red")
# plt.xlabel('lapop1')
# plt.ylabel('Census_Tract_Estimate')
# plt.title('lapop1 by Census_Tract_Estimate')
# correlation = st.pearsonr(x_values, y_values)
# print(f"The correlation between both factors is {round(correlation[0],2)}")
# plt.show()

In [43]:
# total_pop = combined_grouped_counties["Population_Total"]
# diab_rate = combined_grouped_counties["Diabetes_Census_Tract_Estimate"]
# plt.scatter(total_pop,diab_rate, marker="o", facecolors="blue", edgecolors="black")
# plt.title("Population vs. Estimate Diabetes Rates (%)")
# plt.xlabel("Population")
# plt.ylabel("Estimated Diabetes Rates (%)")
# plt.show()

In [44]:
# plt.scatter(combined_data['Median_Household_Income']['mean'], diab_summary_df['Census_Tract_Estimate']['mean'], 
#             marker='o', facecolors='lightblue', edgecolors='black')
# plt.xlabel('Median Household Income')
# plt.ylabel('Diabetes Percent Diagnosis')
# plt.title('A Comparison of Diabetes Diagnosis and Median Household Income')

# median_income = df_clean.iloc[:,10]
# diabetes = df_clean.iloc[:,6]
# correlation = st.pearsonr(median_income,diabetes)
# print(f"The correlation between both factors is {round(correlation[0],2)}")

In [45]:
# la_people, = plt.plot(x,y, color="blue")

In [46]:
# # Set the 'Country Code' to be our index for easy referencing of rows
# combined_unemployed_data = combined_unemployed_data.set_index("Country Code")
# # Collect the mean unemployment rates for the world
# average_unemployment = combined_unemployed_data.mean()

# # Collect the years where data was collected
# years = average_unemployment.keys()
# # Plot the world average as a line chart
# world_avg, = plt.plot(years, average_unemployment, color="blue", label="World Average" )

# # Plot the unemployment values for a single country
# country_one, = plt.plot(years, combined_unemployed_data.loc['USA',["2010","2011","2012","2013","2014"]], 
#                         color="green",label=combined_unemployed_data.loc['USA',"Country Name"])

# # Create a legend for our chart
# plt.legend(handles=[world_avg, country_one], loc="best")

# # Show the chart
# plt.show()

FIPS                              object
COUNTY_NAME                       object
DIABETES_ADJRATE                  object
lapop1                            object
lakids1                           object
laseniors1                        object
Population_Total                  object
Diabetes_Census_Tract_Estimate    object
dtype: object

C:\Users\avila\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ValueError: If using all scalar values, you must pass an index